TZ=Europe/Lisbon
APP_URL=http://localhost:6875

# Generate with:
# docker run -it --rm --entrypoint /bin/bash lscr.io/linuxserver/bookstack:latest appkey
APP_KEY=

MYSQL_DATABASE=bookstackapp
MYSQL_USER=bookstack
MYSQL_PASSWORD=bookstack_demo_password
MYSQL_ROOT_PASSWORD=bookstack_demo_root_password
